@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;700;800;900&display=swap');

*{
  font-family: 'Jost', sans-serif;
text-align: center;
}
body{
  background-color: #ffffff;
  margin: 0;
  padding: 0;
box-sizing: border-box;
}
.mainError{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1{
    font-size:5em;
    text-transform: capitalize;
    color: #76ad08;
  }
  p{
    font-size: 2em;
    width: 50%;
    margin-top: 0;
    color: #527a01;
  }
a{
  text-decoration: none;
  color: #ffffff;
}
  button{
    font-size: 1.5em;
    padding: 20px 40px;
    text-transform: uppercase;
    margin: 30px 0;
    background-color: #1B2E35;
    border: none;
    transition: all 0.3s ease-in-out;
  }

  button:hover{
    background-color: #8db627;
  
  }
  img{
    width: 30%;
  }
}

@media only screen and  (min-width:425px) and (max-width:768px){
  .mainError{
h1{
  font-size: 3.5em;
}
p{
  font-size: 1.5em;
}
img{
  width: 60%;
}
  }
}

@media only screen and (min-width:375px) and (max-width:425px){
.mainError {
    h1 {
      font-size: 2.2em;
    }

    p {
      font-size: 1em;
      width: 70%;
    }

    button{
      font-size: 1em;
    }
    img {
      width: 98%;
    }
  }
}

@media only screen and (min-width:320px) and (max-width:375px) {
  .mainError {
    h1 {
      font-size: 2.2em;
    }

    p {
      font-size: 1em;
      width: 70%;
    }

    button {
      font-size: 1em;
    }

    img {
      width: 98%;
    }
  }
}